*{
    margin: 0px;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
body{
    background-color: black;
    background-image: url(michael.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
.p{
    height: 68px;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tuxto{
    margin-top: 170px ;
    margin-left: 43px;
    display:list-item;
    margin-right: 999px;
   
    
}
.cabe{
    background-color: black;
    height: 45px;
}